<h3>Welcome <%=@host.username%>!!</h3>

<h4>These are all your events</h4>
<ul>
<%@events.each do |event|%>
<a href="/events/<%=event.slug%>"><li><%=event.name %> on <%=event.date%> @ <%=event.venue.name %> </li></a>
<%end%>
</ul>
<form action="/new" method="get">
  <input type="submit" value="Create Event!">
</form>
<a href="/logout">Log Out</a>
